body{margin: 0;padding: 0;background-color: bisque;}
    a{text-decoration: none;color: #111;}
    ul{list-style: none;}
        /*.wrap{width: 1900px;height: 100%;}*/
        .logo_menu{display: flex;justify-content: space-between;align-items: center;padding: 8px 12px;background-color: white;}
        .menu > ul .sub{overflow: hidden;height: 0;position: absolute;left: 0;top: 110px;width: 100%;z-index: 1;background: #fff;}
        .left_menulist > ul .sub li{line-height: 40px;text-align: center;}