@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

.container {
  height: 100vh;
  /* scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth; */
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
  font-size: 2em;
  position: relative;
  background-color: #c44436;
}
.first-page span {
  font-size: 250px;
}
.first-page h1 {
  margin-top: 160px;
}
.first-page {
  background-color: #c44436;
  text-align: center;
  position: relative;
}
.first-page .top-text {
  position: absolute;
  top: 40px;
  margin: 20px;
  font-size: 24px;
  color: ivory;
  font-family: "italiana", sans-serif;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}

.first-page .top-text.left {
  left: 0;
  padding-left: 40px;
  text-align: left;
}

.first-page .top-text.right {
  right: 0;
  padding-right: 40px;
  text-align: right;
}
.backgroundbigs1,
.backgroundbigs2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: rotate 10s linear infinite;
  align-items: center;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.backgroundbigs1 {
  background-image: url(../images/Vector10.png);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.backgroundbigs2 {
  background-image: url(../images/Vector11.png);
  animation: rotate 15s linear infinite;
}
/*first page h1: 보림 포트폴리오 이름*/
.first-page h1 {
  font-family: "Italiana", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 200px;
  color: ivory;
  margin-bottom: 0;
  z-index: 10;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* 수평 중앙 정렬 */
  transition: transform 0.3s ease; /* 부드러운 애니메이션 추가 */
}
/*이름 두줄로 나눈거*/
.first-page h1 span {
  display: block;
}

.second-page {
  background-color: #c44436;
  z-index: 1000;
}
/*twobox:아이보리 박스*/
.second-page .twobox {
  width: 85%;
  height: 88%;
  background-color: ivory;
  border-radius: 30px 30px;
  margin-top: 70px;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.second-page .inner_box {
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.second-page .inner_box .left {
  width: 35%;
}
.second-page .inner_box .profile {
  display: block;
  width: 80%;
}
.second-page .inner_box .profile img {
  width: 221px;
  height: 221px;
  display: block;
  margin: 0 auto;
  /*margin-left: 30px;*/
}
.imgwrap {
  position: relative;
}
.imgwrap img {
  position: absolute;
}
.second-page .inner_box .profile ul {
  margin: 0 auto;
}
.second-page .inner_box .left .profile ul li {
  font-size: 18px;
  color: #222;
  text-align: center;
  margin: 10px;
}
.license {
  margin: 40px 10px;
}
.li_con {
  font-size: 18px;
  color: #222;
  margin: 10px 0;
}
.li_name {
  font-size: 38px;
  font-weight: bold;
  color: #c44436;
  margin: 10px 0;
}
.second-page .inner_box .second-page .inner_box .right {
  width: 65%;
  float: right;
}
li.namebox {
  font-size: 60px;
  color: #c44436;
  font-weight: 600;
  line-height: 70px;
}
li.nameintro {
  font-size: 25px;
  margin-top: 10px;
}
ul.skill {
  margin-top: 30px;
}
.second-page .inner_box .skill li ul {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 40px;
}
.second-page .inner_box .skill ul li img {
  width: 45px;
}

.third-page {
  background-image: url(../images/background_yoajung.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.yoa_txt {
}
li.yoweb {
  font-family: "Italiana", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 150px;
  color: ivory;
  line-height: 150px;
}
li.yoweb2 {
  font-size: 90px;
  margin-bottom: 40px;
}
li.baro {
  width: 200px;
  height: 50px;
  border: 2px solid #c23728;
  border-radius: 30px;
  color: #c23728;
  margin: 0 auto;
  cursor: pointer;
}
li.baro:hover {
  background-color: ivory;
  color: #c44436;
  border: 1px solid ivory;
}
.third-page ul {
  text-align: center;
}
.four-page {
}
